*.iml
**/*.iml
.idea
.idea/**
target
target/**
**/target/**
**/target
**/**/target
**/**/target/**
pom.xml.versionsBackup
**/pom.xml.versionsBackup
**/**/pom.xml.versionsBackup
crs-commons-utils/APPENDER*.log
crs-app-services/PermissionsReport.txt
